* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

.header {
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.6), rgba(4,9,30,0.6)), url(./images/atlascar2b.png);
    background-position: center;
    background-size: contain;
    position: relative;
    text-align: center;
}
.title {
    text-align: center;
}

h1 {
  font-size: 50px;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;   
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}

.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #002eff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}
